.CFUserTextEncoding
Applications
Applications (Parallels)
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Tmp
test.sh

.Trash
.bash_history
.dropbox/
*.swp
.lesshst


.Trash
.bash_history
.dropbox/
*.swp
.lesshst
.ssh
.viminfo

